<%- include('partials/header'); -%>

<form>
    <h2>Sign up</h2>
    <label for="name">Name</label>
    <input type="name" name="name" required />
    <div class="name error"></div>
    <label for="user_id">Id</label>
    <input type="text" name="user_id" required />
    <div class="user_id error"></div>
    <label for="email">Email</label>
    <input type="email" name="email" required />
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <button>Sign up</button>
</form>

<script>
    const form = document.querySelector('form');
    const nameError = document.querySelector('.name.error');
    const user_idError = document.querySelector('.user_id.error');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e)=>{
        e.preventDefault(); //default action(새로 고침 등)을 막음

        //reset errors
        nameError.textContent = '';
        user_idError.textContent = '';
        emailError.textContent = '';
        passwordError.textContent = '';

        // get the values
        const name = form.name.value;
        const user_id = form.user_id.value;
        const email = form.email.value;
        const password = form.password.value;

        // console.log(user_id, password); //id 비번 잘 나오는지 확인

        try{
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({ name, user_id, email, password }),  //입력 data들을 JSON화
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            console.log(data);
            if( data.errors){
                nameError.textContent = data.errors.name;
                user_idError.textContent = data.errors.user_id;
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if(data.user){
                location.assign('/'); //무사히 회원가입이 되었을 때, homepage로 redirect
            }
        }
        catch (err){
            console.log(err);
        }
    });
</script>
<%- include('partials/footer'); -%>